*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  width: 100%;
  max-width: 399px;
  height: 100%;
}

.title {
  display: block;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 4.17em;
  line-height: 0.96;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: none;
  text-decoration-skip-ink: none;
}

.content__video-card-title {
  display: block;
  max-width: 100%;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 1.7em;
  line-height: 1.4;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline solid #fff 2px;
  text-underline-offset: 2px;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 400;
  font-size: 1em;
  line-height: 0.9;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4; /* линтер ругается */
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  padding-right: 4px;
}

.content__video-card-description-container {
  flex: 1 1 390px;
  min-width: 0;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  min-width: 225px;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  line-height: 1;
  background-color: transparent;
  caret-color: #fff;
  appearance: none;
  -webkit-appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline solid #fff 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 6px 0;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline solid #fff 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
